body {
    background-image: url("../images/top-bg.png");
    background-color: rgba(255, 255, 255, 0.2);
    background-blend-mode: lighten;
    background-size: cover;
    overflow: hidden; /* スクロール禁止 */
}

main {
    text-align: center;
    margin-bottom: 80px;
}

.top-image {
    margin-top: 60px;
    width: 600px;
    height: 380px;
    background-size: cover;
}

.btn {
    display: inline-block;
    font-size: 30px;
    color: white;
    background-color: firebrick;
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
    border-top: 2px solid rgba(255, 255, 255, 0.2);
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.btn:hover {
    opacity: 0.9;
}

.btn:active {
    transform: translateY(2px);
    border-bottom: none;
}